<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<h1>Member의 Profile 등록</h1>
	<input name="uploadFiles" type="file" multiple>
 	<input type="text" name="mid" value="user1">
	<button class="uploadBtn">Upload</button>
	<hr>
	<h2>upload결과 보여주기</h2>
	<div class="uploadResult">
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>	
	<script>
	$('.uploadBtn').click(f_upload);
    function f_upload( ) {
        var formData = new FormData();
        var inputFile = $("input[type='file']");
        var files = inputFile[0].files;
        for (var i = 0; i < files.length; i++) {
            console.log(files[i]);
            formData.append("uploadFiles", files[i]);
         }
        formData.append("mid", $("input[name='mid']").val());
          //upload ajax
        $.ajax({
            url: '/uploadAjax',
            processData: false,
            contentType: false,
            data: formData,
            type: 'POST',
            dataType:'json',
            success: function(result){
            	console.log(result);                
                showUploadedImages(result);//나중에 화면 처리
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log(textStatus);
            }
        });  
    };  

    function showUploadedImages(arr){
        console.log(arr);
        var divArea = $(".uploadResult");
        var str = "";
        for(var i = 0; i < arr.length; i++){
            str += "<div>";
            str += "<img src='/display?fileName="+arr[i].thumbnailURL+"'>";
            str += "<button class='removeBtn' data-name='"+arr[i].imageURL +"'>REMOVE</button>"
            str += "</div>";
        }
        divArea.append(str);
    }

    $(".uploadResult").on("click", ".removeBtn", function(e){
        var target = $(this); //removeBtn
        var fileName = target.data("name"); //data-name
        var targetDiv = $(this).closest("div");
        console.log(fileName);
        $.post('/removeFile', {fileName: fileName}, function(result){
            console.log(result);
            if(result === true){
                targetDiv.remove();
            }
        } )

    });
</script>
</body>
</html>
